.idea/
project/.bash_history
notebooks/*_answers.ipynb
notebooks/examples
bin/
lib/
pyvenv.cfg
lib64
etc/
share/
env/
log.txt
**/.DS_Store
.DS_Store
**/__pycache__
**/.ipynb_checkpoints/
**/*Zone.Identifier


